<div class="row">


  <% @items.each do |item| %>
    <div class="col-md-6 p-3">
      <div class="card">
        <h5 class="card-header"><%= item.name %> <%= link_to 'edit', edit_item_path(item) %></h5>
        <div class="card-body">
          <p class="card-text"><%= item.description %></p>
          <p class="card-text"><%= "#{item.quantity} #{item.unit}" %></p>
        </div>
      </div>
    </div>

  <% end %>

</div>